<div class='container my-5'>

  {{#each drivers}}

    <div class='driver-card mb-4' data-card-id='{{@index}}'>
      <div class='card-front'>

        <div class='col'>

          <div class='row'>
            <div class='col-12 text-center'>
              <h2>{{position}}ยบ</h2>
            </div>

            <div class='col-12 text-center'>
              <h3>Points: {{points}}</h3>
            </div>
          </div>

        </div>

        <div class='col-4 text-center'>
          <h4>{{Driver.givenName}} {{Driver.familyName}}</h4>
        </div>

        <div class='col-4 text-center'>
          <h3>{{Constructors.0.name}}</h3>
        </div>

      </div>

      <div class='card-back'>

        <div class='col-4 text-center'>
          <img src='/images/drivers/{{Driver.code}}.png' />
        </div>

        <div class='col-4 text-center'>
          <h2>{{Driver.code}}</h2>
        </div>

        <div class='col-4 text-center'>
          <h3>{{Driver.nationality}}</h3>
        </div>

      </div>
    </div>

  {{/each}}

</div>