<div class='container my-5'>

  {{#each drivers}}

    <div class='card mb-3'>
      <div class='card-side front'>
        <div class='row'>
          <div class='col-4'>
            <div class='row'>
              <div class='col'>
                <h2>{{position}}ยบ</h2>
              </div>
            </div>
            <div class='row'>
              <div class='col'>
                <h2>{{points}}</h2>
              </div>
            </div>
          </div>
          <div class='col-4'>
            <h3>{{Driver.givenName}} {{Driver.familyName}}</h3>
          </div>
          <div class='col-4'>
            <h4>{{Constructors.0.name}}</h4>
          </div>
        </div>
      </div>

      <div class='card-side back'>
        <div class='row'>
          <div class='col-4'>
            <h2>*IMAGEN*</h2>
          </div>
          <div class='col-4'>
            <h3>{{Driver.code}}</h3>
          </div>
          <div class='col-4'>
            <h4>{{Driver.nationality}}</h4>
          </div>
        </div>
      </div>
    </div>

  {{/each}}

</div>