<hr />

{{#each teams}}

<h2>Position: {{position}}</h2>
<h2>Name: {{Constructor.name}}</h2>
<img src="/images/teams/{{Constructor.name}}-car.png"></img>
<img src="/images/teams/{{Constructor.name}}-logo.png"></img>
<h3>Nationality: {{Constructor.nationality}} </h3>
<br />

<h2>Points: {{position}}</h2>
<h3>Wins: {{wins}}</h3>

<hr />

{{/each}}