<div class='container my-5'>

  {{#each teams}}

    <div class='team-card mb-4' data-card-id='{{@index}}'>
      <div class='card-front'>

        <div class='col'>

          <div class='row'>
            <div class='col-12 text-center'>
              <h2>{{position}}ยบ</h2>
            </div>

            <div class='col-12 text-center'>
              <h3>Points: {{points}}</h3>
            </div>
          </div>

        </div>

        <div class='col-4 text-center'>
          <img src='/images/teams/{{Constructor.name}}-logo.png' />
        </div>

        <div class='col-4 text-center'>
          <h3>{{Constructor.name}}</h3>
        </div>

      </div>

      <div class='card-back'>

        <div class='col-4 text-center'>
          <figure class='team-car'>
            <img src='/images/teams/{{Constructor.name}}-car.png' />
          </figure>
        </div>

        <div class='col-4 text-center'>
          <h2>{{wins}} WINS</h2>
        </div>

        <div class='col-4 text-center'>
          <h3>{{Constructor.nationality}}</h3>
        </div>

      </div>
    </div>

  {{/each}}

</div>