<div class='container mt-4'>

  <div class='row'>

    <div class='col'>
      <figure>
        <img src='{{user.avatar}}' alt='{{user.username}}' />
      </figure>
    </div>
    <div class='col'>

      <h1>{{user.username}}</h1>
      <h2>{{user.team}}</h2>

    </div>
    <p>{{user.bio}}</p>
  </div>

  <div class='row'>
    <div class='d-grid'>
      <div class='btn-group shadow' role='group' aria-label='Basic radio toggle button group'>
        <input type='radio' class='btn-check' name='btnradio' id='profile' autocomplete='off' />
        <a href='/profile' class='btn btn-outline-primary' for='profile'>POSTS</a>

        <input type='radio' class='btn-check' name='btnradio' id='favorite-posts' autocomplete='off' checked />
        <a href='/profile/favorite-posts' class='btn btn-outline-primary' for='favorite-posts'>FAVS</a>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      {{#each user.favoritePosts}}{{/each}}
    </div>
  </div>

</div>