<div class="container mt-5">
    <hr />

    {{#each races}}

    <h2>Round: {{round}}</h2>
    <h2>Circuit: {{Circuit.circuitName}}</h2>
    <h3>Date: {{date}}</h3>
    <h3>Location: {{Circuit.Location.locality}} ({{Circuit.Location.country}})</h3>

    <hr />

    {{/each}}
</div>